<a href="https://colab.research.google.com/github/booluckgmie/podac/blob/main/Finding_Nearest_Pair_using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Idea

Perform Haversine Distance formula Analysis between hotel(Restaurants) locations and nearby_point in Malaysia. The dataset consists of two separate files. The first one is Hotel locations and the second is nearby_point. We want to determine which hotel is near to any given member in the second dataset

In [ ]:
#resources : https://medium.com/analytics-vidhya/finding-nearest-pair-of-latitude-and-longitude-match-using-python-ce50d62af546

In [ ]:
import pandas as pd

In [ ]:
#Replicating Haversine Distance fromula in Python :

from math import radians, cos, sin, asin, sqrt
def dist(lat1, long1, lat2, long2):
    """
Replicating the same formula as mentioned in Wiki
    """
    # convert decimal degrees to radians 
    lat1, long1, lat2, long2 = map(radians, [lat1, long1, lat2, long2])
    # haversine formula 
    dlon = long2 - long1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    # Radius of earth in kilometers is 6371
    km = 6371* c
    return km

In [ ]:
#PART A — To find the closest Hotel name for each member in the CSV

In [ ]:
#Reading the Data from CSV File

main_point = pd.read_csv("/content/pusat_loc.csv")
main_point.head()

,Unnamed: 0,Unnamed: 0.1,geometry,address,lokasi,coords,lon,lat,state,district,parlimen,dun,label,Lokasi
0,0,0,POINT (100.2469697928427 5.288640323029947),"Jalan Teluk Kumbar, Kampung Bukit, Bayan Lepas...",NaN,"100.2469697928427, 5.288640323029947",100.246970,5.288640,Pulau Pinang,Barat Daya,P.053 Balik Pulau,N.38 Bayan Lepas,pusat pemindahan bencana,"DEWAN JKKK BUKIT GEMURUH, KG TELUK KUMBAR, KG ..."
1,1,1,POINT (100.3272178369398 5.424053945999025),"Jalan Sultan Ahmad Shah, George Town, Timur La...",NaN,"100.3272178369398, 5.424053945999025",100.327218,5.424054,Pulau Pinang,Timur Laut,P.049 Tanjong,N.26 Padang Kota,pusat pemindahan bencana,"SEKOLAH MENENGAH KEBANGSAAN RAJA TUN UDA, JALA..."
2,2,2,POINT (100.2060326248759 5.460129423203306),"Jalan Hassan Abbas, Teluk Bahang, Mukim 1 Pant...",NaN,"100.2060326248759, 5.460129423203306",100.206033,5.460129,Pulau Pinang,Barat Daya,P.053 Balik Pulau,N.40 Telok Bahang,pusat pemindahan bencana,"DEWAN MBPP TELUK BAHANG, KAMPUNG NELAYAN, KAMP..."
3,3,3,POINT (100.2427304396038 5.2837447790434),"Jalan Sungai Batu, Kampung Sungai Batu, Bayan ...",NaN,"100.2427304396038, 5.2837447790434",100.242730,5.283745,Pulau Pinang,Barat Daya,P.053 Balik Pulau,N.38 Bayan Lepas,pusat pemindahan bencana,"SEKOLAH KEBANGSAAN SUNGAI BATU, SUNGAI BATU"
4,4,4,POINT (100.2337600000001 5.286470000000065),"Teluk Kumbar, Bayan Lepas, Barat Daya, Pulau P...",NaN,"100.2337600000001, 5.286470000000065",100.233760,5.286470,Pulau Pinang,Barat Daya,P.053 Balik Pulau,N.38 Bayan Lepas,pusat pemindahan bencana,"SEKOLAH KEBANGSAAN TELUK KUMBAR, KG. TELUK KUM..."

In [ ]:
nearby_point = pd.read_csv("/content/hotspot_loc.csv")
nearby_point.head()

,Unnamed: 0,Unnamed: 0.1,geometry,address,lokasi,coords,lon,lat,state,district,parlimen,dun,label,Lokasi
0,0,0,POINT (100.32277 5.409320000000037),"Kampung Makam, George Town, Timur Laut, Pulau ...",Kampung Makam Haji Kassim,"100.32277, 5.409320000000037",100.322770,5.409320,Pulau Pinang,Timur Laut,P.050 Jelutong,N.29 Datok Keramat,hotspot,NaN
1,1,1,POINT (100.3140300000001 5.404410000000041),"Kampung Dodol, George Town, Timur Laut, Pulau ...",Kampung Dodol,"100.3140300000001, 5.404410000000041",100.314030,5.404410,Pulau Pinang,Timur Laut,P.050 Jelutong,N.29 Datok Keramat,hotspot,NaN
2,2,2,POINT (100.31539 5.406510000000026),Masjid Jamek Hashim Yahaya,Kampung Masjid Hashim Yahya,"100.31539, 5.406510000000026",100.315390,5.406510,Pulau Pinang,Timur Laut,P.050 Jelutong,N.29 Datok Keramat,hotspot,NaN
3,3,3,POINT (100.3140734163665 5.409581694947581),"Jalan P. Ramlee, Taman Seri Kijang, George Tow...",Jalan P.Ramlee,"100.3140734163665, 5.409581694947581",100.314073,5.409582,Pulau Pinang,Timur Laut,P.050 Jelutong,N.29 Datok Keramat,hotspot,NaN
4,4,4,POINT (100.3147515070017 5.410768050340871),"Lilitan Stadium, George Town, Timur Laut, 1035...",Lilitan Stadium (Astaka Makan),"100.3147515070017, 5.410768050340871",100.314752,5.410768,Pulau Pinang,Timur Laut,P.050 Jelutong,N.29 Datok Keramat,hotspot,NaN

In [ ]:
# Renaming the column names 
#nearby_point=nearby_point.rename(columns = {'latitude':'lat','longitude':'lon'})
#main_point=main_point.rename(columns = {'latitude':'lat','longitude':'lon'})

# To make sure that there are no null values and All are either integers/ Float values 
nearby_point.info() 
print('\n XXXXXXXXXXXXXXXXXXXXXXX\n')
main_point.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    311 non-null    int64
 1   Unnamed: 0.1  311 non-null    int64
 2   geometry      311 non-null    object
 3   address       311 non-null    object
 4   lokasi        311 non-null    object
 5   coords        311 non-null    object
 6   lon           311 non-null    float64
 7   lat           311 non-null    float64
 8   state         311 non-null    object
 9   district      311 non-null    object
 10  parlimen      311 non-null    object
 11  dun           311 non-null    object
 12  label         311 non-null    object
 13  Lokasi        0 non-null      float64
dtypes: float64(3), int64(2), object(9)
memory usage: 34.1+ KB

 XXXXXXXXXXXXXXXXXXXXXXX

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    104 non-null    int64
 1   Unnamed: 0.1  104 non-null    int64
 2   geometry      104 non-null    object
 3   address       104 non-null    object
 4   lokasi        0 non-null      float64
 5   coords        104 non-null    object
 6   lon           104 non-null    float64
 7   lat           104 non-null    float64
 8   state         104 non-null    object
 9   district      104 non-null    object
 10  parlimen      104 non-null    object
 11  dun           104 non-null    object
 12  label         104 non-null    object
 13  Lokasi        104 non-null    object
dtypes: float64(3), int64(2), object(9)
memory usage: 11.5+ KB

In [ ]:
#Haversine Equation, to find the distance

from math import radians, cos, sin, asin, sqrt
def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    # Radius of earth in kilometers is 6371
    km = 6371* c
    return km

In [ ]:
#Using idxmin you can find the closest Hotel name using,

def find_nearest(lat, long):
    distances = main_point.apply(
        lambda row: dist(lat, long, row['lat'], row['lon']), 
        axis=1)
    return main_point.loc[distances.idxmin(), 'Lokasi']

In [ ]:
nearby_point['Lokasi'] = nearby_point.apply(
    lambda row: find_nearest(row['lat'], row['lon']), 
    axis=1)

# To check the data frame if it has a new column of hotel name (for each and every member's location in the list)
nearby_point.head()

,Unnamed: 0,Unnamed: 0.1,geometry,address,lokasi,coords,lon,lat,state,district,parlimen,dun,label,Lokasi
0,0,0,POINT (100.32277 5.409320000000037),"Kampung Makam, George Town, Timur Laut, Pulau ...",Kampung Makam Haji Kassim,"100.32277, 5.409320000000037",100.322770,5.409320,Pulau Pinang,Timur Laut,P.050 Jelutong,N.29 Datok Keramat,hotspot,"SJK (T) JALAN SUNGAI, FLAT SUNGAI PINANGJLN SU..."
1,1,1,POINT (100.3140300000001 5.404410000000041),"Kampung Dodol, George Town, Timur Laut, Pulau ...",Kampung Dodol,"100.3140300000001, 5.404410000000041",100.314030,5.404410,Pulau Pinang,Timur Laut,P.050 Jelutong,N.29 Datok Keramat,hotspot,"SJK (T) JALAN SUNGAI, FLAT SUNGAI PINANGJLN SU..."
2,2,2,POINT (100.31539 5.406510000000026),Masjid Jamek Hashim Yahaya,Kampung Masjid Hashim Yahya,"100.31539, 5.406510000000026",100.315390,5.406510,Pulau Pinang,Timur Laut,P.050 Jelutong,N.29 Datok Keramat,hotspot,"SJK (T) JALAN SUNGAI, FLAT SUNGAI PINANGJLN SU..."
3,3,3,POINT (100.3140734163665 5.409581694947581),"Jalan P. Ramlee, Taman Seri Kijang, George Tow...",Jalan P.Ramlee,"100.3140734163665, 5.409581694947581",100.314073,5.409582,Pulau Pinang,Timur Laut,P.050 Jelutong,N.29 Datok Keramat,hotspot,"SJK (T) JALAN SUNGAI, FLAT SUNGAI PINANGJLN SU..."
4,4,4,POINT (100.3147515070017 5.410768050340871),"Lilitan Stadium, George Town, Timur Laut, 1035...",Lilitan Stadium (Astaka Makan),"100.3147515070017, 5.410768050340871",100.314752,5.410768,Pulau Pinang,Timur Laut,P.050 Jelutong,N.29 Datok Keramat,hotspot,"SJK (T) JALAN SUNGAI, FLAT SUNGAI PINANGJLN SU..."

In [ ]:
#PART B — Finding the “distance” between member location to the closest hotel

nearby_point = pd.merge(nearby_point,main_point[['Lokasi', 'dun','lat','lon']],on='Lokasi', how='left')
# Rename the new columns as both the columns has same name, and python gets confused 
nearby_point=nearby_point.rename(columns = {'lat_x':'m_lat','lon_x':'m_lon','lat_y':'h_lat','lon_y':'h_lon'})
nearby_point.head()

,Unnamed: 0,Unnamed: 0.1,geometry,address,lokasi,coords,m_lon,m_lat,state,district,parlimen,dun_x,label,Lokasi,dun_y,h_lat,h_lon
0,0,0,POINT (100.32277 5.409320000000037),"Kampung Makam, George Town, Timur Laut, Pulau ...",Kampung Makam Haji Kassim,"100.32277, 5.409320000000037",100.322770,5.409320,Pulau Pinang,Timur Laut,P.050 Jelutong,N.29 Datok Keramat,hotspot,"SJK (T) JALAN SUNGAI, FLAT SUNGAI PINANGJLN SU...",N.30 Sungai Pinang,5.404585,100.323365
1,1,1,POINT (100.3140300000001 5.404410000000041),"Kampung Dodol, George Town, Timur Laut, Pulau ...",Kampung Dodol,"100.3140300000001, 5.404410000000041",100.314030,5.404410,Pulau Pinang,Timur Laut,P.050 Jelutong,N.29 Datok Keramat,hotspot,"SJK (T) JALAN SUNGAI, FLAT SUNGAI PINANGJLN SU...",N.30 Sungai Pinang,5.404585,100.323365
2,2,2,POINT (100.31539 5.406510000000026),Masjid Jamek Hashim Yahaya,Kampung Masjid Hashim Yahya,"100.31539, 5.406510000000026",100.315390,5.406510,Pulau Pinang,Timur Laut,P.050 Jelutong,N.29 Datok Keramat,hotspot,"SJK (T) JALAN SUNGAI, FLAT SUNGAI PINANGJLN SU...",N.30 Sungai Pinang,5.404585,100.323365
3,3,3,POINT (100.3140734163665 5.409581694947581),"Jalan P. Ramlee, Taman Seri Kijang, George Tow...",Jalan P.Ramlee,"100.3140734163665, 5.409581694947581",100.314073,5.409582,Pulau Pinang,Timur Laut,P.050 Jelutong,N.29 Datok Keramat,hotspot,"SJK (T) JALAN SUNGAI, FLAT SUNGAI PINANGJLN SU...",N.30 Sungai Pinang,5.404585,100.323365
4,4,4,POINT (100.3147515070017 5.410768050340871),"Lilitan Stadium, George Town, Timur Laut, 1035...",Lilitan Stadium (Astaka Makan),"100.3147515070017, 5.410768050340871",100.314752,5.410768,Pulau Pinang,Timur Laut,P.050 Jelutong,N.29 Datok Keramat,hotspot,"SJK (T) JALAN SUNGAI, FLAT SUNGAI PINANGJLN SU...",N.30 Sungai Pinang,5.404585,100.323365

In [ ]:
# Creating a new column to generate the output by passing lat long information to Haversine Equation
nearby_point['distance'] = [haversine(nearby_point.m_lon[i],nearby_point.m_lat[i],nearby_point.h_lon[i],nearby_point.h_lat[i]) for i in range(len(nearby_point))]
nearby_point['distance'] = nearby_point['distance'].round(decimals=3)

# Printing the data table 
nearby_point.head()

,Unnamed: 0,Unnamed: 0.1,geometry,address,lokasi,coords,m_lon,m_lat,state,district,parlimen,dun_x,label,Lokasi,dun_y,h_lat,h_lon,distance
0,0,0,POINT (100.32277 5.409320000000037),"Kampung Makam, George Town, Timur Laut, Pulau ...",Kampung Makam Haji Kassim,"100.32277, 5.409320000000037",100.322770,5.409320,Pulau Pinang,Timur Laut,P.050 Jelutong,N.29 Datok Keramat,hotspot,"SJK (T) JALAN SUNGAI, FLAT SUNGAI PINANGJLN SU...",N.30 Sungai Pinang,5.404585,100.323365,0.531
1,1,1,POINT (100.3140300000001 5.404410000000041),"Kampung Dodol, George Town, Timur Laut, Pulau ...",Kampung Dodol,"100.3140300000001, 5.404410000000041",100.314030,5.404410,Pulau Pinang,Timur Laut,P.050 Jelutong,N.29 Datok Keramat,hotspot,"SJK (T) JALAN SUNGAI, FLAT SUNGAI PINANGJLN SU...",N.30 Sungai Pinang,5.404585,100.323365,1.034
2,2,2,POINT (100.31539 5.406510000000026),Masjid Jamek Hashim Yahaya,Kampung Masjid Hashim Yahya,"100.31539, 5.406510000000026",100.315390,5.406510,Pulau Pinang,Timur Laut,P.050 Jelutong,N.29 Datok Keramat,hotspot,"SJK (T) JALAN SUNGAI, FLAT SUNGAI PINANGJLN SU...",N.30 Sungai Pinang,5.404585,100.323365,0.908
3,3,3,POINT (100.3140734163665 5.409581694947581),"Jalan P. Ramlee, Taman Seri Kijang, George Tow...",Jalan P.Ramlee,"100.3140734163665, 5.409581694947581",100.314073,5.409582,Pulau Pinang,Timur Laut,P.050 Jelutong,N.29 Datok Keramat,hotspot,"SJK (T) JALAN SUNGAI, FLAT SUNGAI PINANGJLN SU...",N.30 Sungai Pinang,5.404585,100.323365,1.169
4,4,4,POINT (100.3147515070017 5.410768050340871),"Lilitan Stadium, George Town, Timur Laut, 1035...",Lilitan Stadium (Astaka Makan),"100.3147515070017, 5.410768050340871",100.314752,5.410768,Pulau Pinang,Timur Laut,P.050 Jelutong,N.29 Datok Keramat,hotspot,"SJK (T) JALAN SUNGAI, FLAT SUNGAI PINANGJLN SU...",N.30 Sungai Pinang,5.404585,100.323365,1.175

In [ ]:
nearby_point['status'] = nearby_point['dun_x'].isin(nearby_point['dun_y'])

In [ ]:
!pip install sidetable --q
import sidetable as stb

In [ ]:
nearby_point.stb.freq(['status'])

   status  count    percent  cumulative_count  cumulative_percent
0    True    205  65.916399               205           65.916399
1   False    106  34.083601               311          100.000000

In [ ]:
nearby_point['distance'].describe()

count    311.000000
mean       3.612855
std       20.892734
min        0.000000
25%        0.826000
50%        1.481000
75%        2.385000
max      336.050000
Name: distance, dtype: float64

In [ ]:
!pip install researchpy -qq
import researchpy as rp

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
rp.summary_cat(nearby_point['status'])

  Variable  Outcome  Count  Percent
0   status     True    205    65.92
1             False    106    34.08

In [ ]:
rp.summary_cont(nearby_point['distance'])

   Variable      N    Mean       SD      SE  95% Conf.  Interval
0  distance  311.0  3.6129  20.8927  1.1847     1.2817     5.944

In [ ]:
nearby_point.agg(
    {
        "distance": ["min", "max", "median", "mean"],
    }
)

          distance
min       0.000000
max     336.050000
median    1.481000
mean      3.612855

## Findings: 
safe radius/distance between <b>hotspot</b> location to <b>nearest pusat</b> 

*   1.476 ± 1.5129 km (median)
*   1.851062 ± 1.5129 km (mean)

In [ ]:
1.476 + 1.5129

2.9889

In [ ]:
1.851062 + 1.5129

3.363962

In [ ]:
1.851062 - 1.5129

0.3381620000000001